<!DOCTYPE html>
<html>
<head>
  <title>dlcc simp</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='helper.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="icon" href="https://i.imgur.com/mypR8sN.png">
</head>
<body>  
<h1>Want to know more about me?</h1>
<div id="content">
  <div id="intro">
    <p>This is originally the project for 2022 Line Tech Fresh intern application, where we need to develop a line bot to promote ourselves, but I've also made a web version for it.</p>
    <p>See the source code <a href="https://github.com/dlccyes/dlcc_simp" target="_blank">here</a>.</p>
    <p>Click <a href="/line" target="_blank">here</a> if you want to use the line bot version.</p>
  </div>
  <br>
  <div id="input_area">
    <input type="text" id="textInput" placeholder="Ask me anything!"></input>
    <button class="btn" id='getReply'>ask</button>
    <!-- <p id="loading">thinking what to reply ....</p> -->
  </div>
  <div id="reply_area"></div>
</div>
</body>
</html>
<script>
function requestHandler(callback){ //loading animation
  try{
    $('#reply_area').html("<p>thinking what to reply ...</p>");
    callback();
  }catch{
    $('#reply_area').html('');
  }
}
function getReply(msg){ //to backend
  var objData = {
    'message': {},
  };
  objData['message']['text'] = msg;
  $.ajax({
    type: 'POST',
    dataType: 'json',
    contentType: 'application/json',
    data: JSON.stringify(objData),
    url: "/getWebResponse",
    success: function(result){
      console.log(result);
      reply_html = '';
      if (!result['success']){ // error
        reply_html += "<p>I'm sleeping right now 😴😴<br>Please try again later.</p>";
      }
      else {
        reply_html += "<p id='reference'>" + msg + "</p>";
        replies = result['replies'];
        for (var reply of replies) {
          reply_type = reply[0];
          reply_content = reply[1];
          // console.log(reply);
          if (reply_type == 0 || reply_type == 2){ // text
            reply_html += '<p>' + htmlifly(reply_content) + '</p>';
          } else if (reply_type == 1){ // image
            reply_html += '<img src="' + reply_content + '" width=auto height=300><br>';
          }
        }
      }
      console.log(reply_html);
      $('#textInput').val('');
      $('#reply_area').html(reply_html);
    },
    error: function(jqXHR, textStatus, errorThrown) {
      console.log('error ' + textStatus);
      console.log(jqXHR);
    },
  });
}
$(document).ready(function(){
  EnterExec('#textInput', function(){
    requestHandler(function(){
      msg = $('#textInput').val();
      getReply(msg);
    });
  });
  $('#getReply').click(function(){
    requestHandler(function(){
      msg = $('#textInput').val();
      getReply(msg);
    });
  });
});
</script>